<div class="bg-success col-12">

  <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="createUser()">
    
    <h2 >Cadastro</h2>
    
    <div *ngIf="!cpf && !cnpj"><h3>Informe seu CPF ou CNPJ:</h3>
      <!-- *ngIf="!isCpf" -->
    <div class="form-group">
      <input class="cpforcnpj" type="text" class="" name="cpforcnpj" formControlName="cpforcnpj" 
      maxlength="20" mask="CPF_CNPJ">
      <button class="botao" type="button" (click)="getCpfOrCnpj()">Avançar</button> 
  
    </div>
    </div>
      
    <div *ngIf="(cpf || cnpj) && !passwordValid">
      <!-- *ngIf="cpf && !passwordValid" -->
      <h2 class="titform">Crie sua Senha</h2>
    
      <div>
        <div class="form-group mb-2">
          <label *ngIf="cpf else cnpj">CPF:</label>
          <ng-template #cnpj>CNPJ:</ng-template>
          <input type="text" class="form-control" name="cpf" 
          [value]="registerForm.get('cpforcnpj')!.value" readonly />
        </div>
        <div class="form-group mb-2">
          <label for="password">Senha:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            maxlength="10"
            data-required
            formControlName="createPassword"
            autocomplete="new-password"
          />
          <i (click)="showPass()">VerSenha</i>
        </div>
        <div class="form-group mb-2">
          <label for="passwordConfirm">Confirme a Senha:</label>
          <input
            type="password"
            class="form-control"
            id="passwordConfirm"
            name="passwordConfirm"
            data-required
            formControlName="confirmPassword"
            autocomplete="new-password"
          />
        </div>
        <div>
          <button class="botao" type="button" (click)="back()">Voltar</button> 
          <button class="botao" type="button" (click)="validPassword()">Avançar</button> 
        </div>
      </div>
    </div>

    <div *ngIf="cpf && passwordValid" formGroupName="registerPF">
    <!-- *ngIf="cpf && passwordValid" -->
      <h2>Dados Pessoais</h2>
      <div class="form-group">
        <label for="name">Nome Completo:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          formControlName="name"
        />
      </div>
      <div class="form-group">
        <label for="date">Data de Nascimento:</label>
        <input
          type="text"
          class="form-control"
          id="date"
          name="date"
          formControlName="birthDate"
        />
      </div>
      <div class="form-group">
        <label for="email" >E-mail:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          autocomplete="off"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="phoneNumber">Celular:</label>
        <input
          type="text"
          class="form-control"
          id="phoneNumber"
          name="phoneNumber"
          formControlName="phoneNumber"
        />
      </div>
    </div>
  
      <div *ngIf="cnpj && passwordValid" formGroupName="registerPJ">
        <!-- *ngIf="cpf && passwordValid" -->
        <h2 class="titform">Dados da Empresa</h2>
        <div class="form-group">
          <label for="corporateName">Razão Social:</label>
          <input
            type="text"
            class="form-control"
            id="corporateName"
            name="corporateName"
            formControlName="corporateName"
          />
        </div>
        <div class="form-group">
          <label for="tradeName">Nome Fantasia:</label>
          <input
            type="text"
            class="form-control"
            id="tradeName"
            name="tradeName"
            formControlName="tradeName"
          />
        </div>
        <div class="form-group">
          <label for="startDate">Data de Nascimento:</label>
          <input
            type="text"
            class="form-control"
            id="startDate"
            name="startDate"
            formControlName="startDate"
          />
        </div>
        <div class="form-group">
          <label for="emailPJ" >E-mail:</label>
          <input
            type="email"
            class="form-control"
            id="emailPJ"
            name="email"
            autocomplete="off"
            formControlName="email"
          />
        </div>
        <div class="form-group">
          <label for="phoneNumberPJ">Celular:</label>
          <input
            type="text"
            class="form-control"
            id="phoneNumberPJ"
            name="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>
        
      </div>
          <div *ngIf="(cpf || cnpj) && passwordValid">
            <!-- *ngIf="(cpf || cnpj) && passwordValid" -->
          <input type="checkbox" formControlName="accept"/>Li e aceito os
          <a target="_blank">termos de uso.</a><br />
          <button type="submit" 
          [disabled]="
            !registerForm.get('registerPF')?.valid &&
            !registerForm.get('registerPJ')?.valid ||
            !registerForm.get('accept')?.valid"
            >
          Cadastrar
          </button>
        </div>
        
      </form>
</div>