.forgot{
    color: var(--text-color);
    background-color: var(--bg-color);
    border-style: 0 none !important;
    border-color: transparent;
    box-shadow: 0 0 !important;
    padding: 0;
    /* outline: 0 !important; */
  }

  .btn-close{
    border-style: 0 none !important;
    border-color: transparent;
    box-shadow: 0 0 !important;
    outline: 0 !important;
  }

  @media (max-width:400px){  
    /* ng-template, .modal-dialog, .modal-content, .modal{
      min-width: 330px;
      max-width: 340px;
      width: 90%;
    } */
    /* .modal{
      max-width: 94% !important;
    } */

  }