.forgot{
    color: var(--text-color);
    background-color: var(--bg-color);
    border-style: 0 none !important;
    border-color: transparent;
    box-shadow: 0 0 !important;
    padding: 0;
    /* outline: 0 !important; */
  }

  .btn-close{
    border-style: 0 none !important;
    border-color: transparent;
    box-shadow: 0 0 !important;
    outline: 0 !important;
  }