form{
  width: 360px;
  padding: 0 15px;
}

span{
  float: right !important;
}
      
form .form-floating:focus-within {
  z-index: 2;
}
      
form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--input-color) !important;
  color: var(---text-color);
}

form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--input-color) !important;
  color: var(---text-color);
}

label p {
  margin: 0;    
}

@media (max-width:539px){
  .container{
    max-width: 380px;
  }
  
  .options{
    flex-direction: column;
    align-items: flex-start;
  }
  
  .options label{
    padding-bottom: 5px;
  }

  form{
    width:270px
  }

}
  
@media (max-width:400px){
  .container{
    max-width: 340px;
    padding-left: 2rem !important;
    padding-right: 2rem;
    width: 100%;
  }

  form{
    width: 248px;
  }
}