<main class="border border-secondary rounded py-1 px-1 mt-4">
  <div class="container d-flex justify-content-center border border-secondary py-5 px-5">
    <form class="text-center">
      <h1 class="h3 mb-3 fw-normal">Acesse a plataforma</h1>
    
      <div class="form-floating">
        <input type="text" class="form-control px-4" placeholder=" "
        [(ngModel)]="user.usuario"
        name="login"
        id="cpf-cnpj"
        mask="CPF_CNPJ"
        [dropSpecialCharacters]="true"
        >
        <label for="floatingInput">CPF ou CNPJ</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control px-4" id="floatingPassword" placeholder=" "
        [(ngModel)]="user.senha"
        name="password"
        id="password"
        maxlength="12">
        <label for="floatingPassword">Senha</label>
      </div>
    
      <div class="options mb-3 mt-1 d-flex justify-content-between mx-1">
        <label class="d-inline-flex my-0 align-items-center">
        <input type="checkbox" id="remember-me" [(ngModel)]="user.remember" name="remember"  class="check mx-1 py-5">
        <p>Lembrar-me</p>
        </label>
        <app-forgot-password></app-forgot-password>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="loginToken()">Entrar</button>
      <button class="w-100 btn btn-lg btn-secondary mt-2" type="button" (click)="cadastro()" >Cadastre-se</button>
    </form>
  </div>
</main>