form{
    width: 300px;
    min-height: 25vh;
}

input{
    background-color: var(--input-color) !important;
    color: var(---text-color) !important;
}

@media (max-width:512px){
    h1{
        margin-top: 2rem;
    }
}