<section class="py-1 px-1 mt-4">
    <div class="container d-flex justify-content-center row mx-0">

      <header class="my-4">
        <app-back></app-back>
        <h1 class="h3 mb-3 fw-normal text-center">Meus Cartões</h1>
      </header>
      <div *ngIf="!havePromo" id="card" class="cards row">
        <div id="empty" class="face mx-1 mb-5 mt-1">
            <div class="d-flex justify-content-center row">
              <h3 class="fw-normal"> Você não possui cartão ativo </h3>
            </div>
        </div>
      </div>
      <ngbd-carousel-navigation *ngIf="havePromo"></ngbd-carousel-navigation>
    </div>
</section>
