section{
  width: 550px;
}

i{
  color: #000;
}

#card{
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  transition: all 1.5s;
}

#front{
  background: var(--card-color);
  transform: rotateY(180deg);
  border: var(--text-color) solid 1px;
  box-shadow: 0px 2px 5px var(--shadow-card);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

#back, #backpulse{
  background: var(--card-color);
  border: rgba(30,30,30,0.2) solid 1px;
  box-shadow: 0px 2px 5px var(--shadow-card);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

#empty{
  background: var(--card-empty);
  border: var(--text-color) solid 1px;
  box-shadow: 0px 2px 5px var(--shadow-card);
}

.container{
  min-width: 550px;
}

.cards{
  height: 230px;
  position: relative;
}

.face{
  border-radius: 30px;
  min-height: 95%;
  width: 87%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.flip{
  transform: rotateY(180deg);
}

h3, .fa-plus{
  color: #fff;
  font-size: 14px;
}

.fa-plus{
  font-size: 5rem
}

.contemplado{
  position: absolute;
  z-index: 1;
  right: -1rem;
  top: 1.6rem;
  border-radius: 5px;
  transform: rotate(35deg);
  text-align: center;
  width: 120px;
  background-color: rgb(190, 13, 13);
  color: #fff;
  font-size: 16px;
}

.cname{
    background-image: linear-gradient(to bottom, rgb(160, 160, 160), rgb(201, 201, 201), rgb(156, 158, 157)) !important;
    color: black;
    margin-top: 30px;
    margin-bottom: 35px;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: rgb(66, 64, 64); /* cor da borda */
    -webkit-text-fill-color: transparent;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1.1;
  }
  
.cdesc{
  color: rgb(230, 230, 230);
  font-size: 0.7rem;
  width: 13rem;
  height: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
  
.cdate{
  color: rgb(230, 230, 230);
  width: 4.5rem;
  font-size: 12px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 1rem;
}

ul.row{
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 15rem;
}

.col{
  flex: 0;
  padding-right: 1rem;
}

.stampfield{
  margin: 5px 5px;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  list-style: none;
}

.stampfield i{
  font-size: 2rem;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
ngb-carousel:focus{
  user-select: none;
  border: none;
  border-style: none !important;
  border-color: transparent !important;
  box-shadow: 0 0 !important;
  outline: 0 !important;
}

.pulse:hover {
  animation: pulse 0.7s infinite;
  margin: 0 auto;
  display: table;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}


@-webkit-keyframes pulse {
  0% {
  -webkit-transform: scale(1);
  -webkit-filter: brightness(100%);
  }
  100% {
  -webkit-transform: scale(1.01);
  -webkit-filter: brightness(120%);
  }
}

@keyframes pulse {
  0% {
  transform: scale(1);
  filter: brightness(100%);
  }
  100% {
  transform: scale(1.01);
  filter: brightness(120%);
  }
}

@media (max-width:512px){
  .container{
    min-width: 450px;
  }

  section{
    width: 450px;
  }
}

@media (max-width:400px){
  .container{
    min-width: 400px;
  }

  section{
    width: 400px;
  }
}