form{
    width: 310px;
    min-height: 25vh;
    margin-top: 1rem;
}

form input{
    background-color: var(--input-color) !important;
    color: var(---text-color);
}

section{
    min-height: 50vh;
}

.loadingStamp{
    width: 400px;
    text-align: center;
}

/* img, .qr-code, ngxqrcode{
    width: 160px;
    height: 160px;
} */

/* .qr-code{
    margin-left: 1.5rem !important;
    margin-top: -1rem !important;
} */

@media (max-width:512px){
    h1{
        margin-top: 2rem;
    }

    input{
        max-width: 200px;
    }

    select{
        max-width: 81.5px;
    }

    label.col-9{
        width: 150px;
    }

    label.col-2{
        width: 30px;
    }
}