<button class="forgot" type="button" (click)="open(content)">Esqueci minha senha</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click'); onClose()"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3" *ngIf="!submit" >
        <label for="username">{{ msg }}</label>
        <div class="input-group mt-4">
          <input id="username" class="form-control" placeholder="" name="username"
          mask="CPF_CNPJ" [(ngModel)]="username">
        </div>
      </div>
      <span class="h3 fw-normal" *ngIf="submit">{{ msg }} </span>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="onConfirm()" *ngIf="!submit">{{ ok }}</button>
  </div>
</ng-template>