<section class="py-1 px-1 mt-4">
  <div class="container d-flex justify-content-center py-3 px-4">
    
    <form class="text-center" autocomplete="off" [formGroup]="registerForm">     

      <!-- CADASTRO PARTE 1  -->
      <div *ngIf="!cpf && !cnpj">
        <h1 class="h3 mb-3 fw-normal">Cadastro</h1>
        <h2 class="h6 my-4 fw-normal text-center" >Informe seu CPF ou CNPJ:</h2>
      <div class="form-group cpforcnpj col-7 mx-auto">
        <input type="text" class="form-control" name="cpforcnpj" formControlName="cpforcnpj" 
        mask="CPF_CNPJ" [dropSpecialCharacters]="false">        
        <button class="btn-primary btn-value fa-solid fa-circle-arrow-right" type="submit" (click)="getCpfOrCnpj()"><caption>Próximo</caption>
        </button>
      </div>
      </div>

      <!-- CADASTRO PARTE 2 -->
      <div *ngIf="(cpf || cnpj) && !passwordValid" class="create-password mx-auto">
        <h2 class="h3 mb-3 fw-normal text-center">Crie sua Senha</h2>
        <div class="d-flex justify-content-center align-items-center row">
          <div class="h6 my-2 form-group text-center mx-auto">
            <label *ngIf="cpf else cnpj">CPF:</label>
            <ng-template #cnpj>CNPJ:</ng-template>
            <span class="w-50 value">{{ registerForm.get('cpforcnpj')?.value }}</span>
          </div>
          <div class="form-floating w-75 mt-3 mx-5">
            <input [type]="password" class="form-control px-4" placeholder=" "
            name="password"
            id="password"
            formControlName="createPassword"
            maxlength="12">
            <i class="fa-solid show-pass" [ngClass]="icon" (click)="passVisibility()"><caption>Mostrar ou ocultar senha</caption></i>
            <label for="floatingInput" class="mx-3" >Senha</label>
          </div>
          <div class="form-floating w-75 mx-5 mb-3">
            <input [type]="password" class="form-control px-4" id="floatingPassword" placeholder=" "
            name="passwordConfirm"
            id="passwordConfirm"
            formControlName="confirmPassword"
            maxlength="12">
            <label for="floatingPassword" class="mx-3">Confirme sua senha</label>
          </div>
          <div class="d-flex justify-content-around">
            <button class="btn btn-secondary " type="button" (click)="back()"><i class="fa-solid fa-circle-arrow-left"></i>&nbsp;VOLTAR</button> 
            <button class=" btn btn-primary " type="submit" (click)="validPassword()">PRÓXIMO &nbsp;<i class="fa-solid fa-circle-arrow-right"></i></button> 
          </div>
        </div>
      </div>
  
      <!-- CADASTRO PARTE 3 -->

      <!-- SE CPF -->
      <div *ngIf="cpf && passwordValid" class="registerPF" formGroupName="registerPF">
        <h2 class="h3 mb-3 fw-normal">Dados Pessoais</h2>
        <div class="form-floating w-75 mt-3 mx-5">
          <input
          type="text"
          class="form-control"
          placeholder=" "
          id="name"
          name="name"
          formControlName="nome"
          maxlength="38"
          [ngClass]="{'is-invalid': 
          registerForm.get('registerPF')?.get('nome')?.invalid &&
          registerForm.get('registerPF')?.get('nome')?.touched, 
          'is-valid':
          registerForm.get('registerPF')?.get('nome')?.valid &&
          registerForm.get('registerPF')?.get('nome')?.touched
        }"
          />
          <label >Nome Completo:</label>
        </div>
        <div class="form-floating w-75 mx-5 my-1">
          <input
          type="text"
          class="form-control"
          placeholder=" "
          id="date"
          name="date"
          formControlName="dataNascimento"
          mask="00/00/0000"
          (click)="birthValid(registerForm.get('registerPF')?.get('dataNascimento')?.value)"
          [dropSpecialCharacters]="false"
          [ngClass]="{'is-invalid': 
          registerForm.get('registerPF')?.get('dataNascimento')?.touched &&
          !birthValid(registerForm.get('registerPF')?.get('dataNascimento')?.value)
          , 
          'is-valid':
          registerForm.get('registerPF')?.get('dataNascimento')?.valid &&
          registerForm.get('registerPF')?.get('dataNascimento')?.touched &&
          birthValid(registerForm.get('registerPF')?.get('dataNascimento')?.value)
        }"
          />
          <label for="date">Data de Nascimento:</label>
        </div>
        <div class="form-floating w-75 my-1 mx-5">
          <input
          type="text"
          class="form-control"
          placeholder=" "
          id="email"
          name="email"
          autocomplete="off"
          formControlName="email"
          maxlength="30"
          [ngClass]="{'is-invalid': 
          registerForm.get('registerPF')?.get('email')?.invalid &&
          registerForm.get('registerPF')?.get('email')?.touched, 
          'is-valid':
          registerForm.get('registerPF')?.get('email')?.valid &&
          registerForm.get('registerPF')?.get('email')?.touched
        }"
          />
          <label >E-mail:</label>
        </div>
        <div class="form-floating w-75 my-1 mx-5">
          <input
          type="text"
          class="form-control"
          placeholder=" "
          type="text"
          id="phoneNumber"
          name="phoneNumber"
          formControlName="telefone"
          mask="(00) 0 0000-0000 || (00) 0000-0000"
          [ngClass]="{'is-invalid': 
          registerForm.get('registerPF')?.get('telefone')?.invalid &&
          registerForm.get('registerPF')?.get('telefone')?.touched, 
          'is-valid':
          registerForm.get('registerPF')?.get('telefone')?.valid &&
          registerForm.get('registerPF')?.get('telefone')?.touched
        }"
          />
          <label> Celular:</label>
        </div>
      </div>
    
      <!-- SE CNPJ -->
      <div *ngIf="cnpj && passwordValid" class="registerPJ" formGroupName="registerPJ">
          <h2 class="h3 mb-3 fw-normal">Dados da Empresa</h2>
          <div class="form-floating w-75 mt-3 mx-5">
            <input
            type="text"
            class="form-control"
            placeholder=" "
            id="corporateName"
            name="corporateName"
            formControlName="nome"
            maxlength="38"
            [ngClass]="{'is-invalid': 
            registerForm.get('registerPJ')?.get('nome')?.invalid &&
            registerForm.get('registerPJ')?.get('nome')?.touched, 
            'is-valid':
            registerForm.get('registerPJ')?.get('nome')?.valid &&
            registerForm.get('registerPJ')?.get('nome')?.touched
          }"
            />
            <label >Razão Social:</label>
          </div>
          <div class="form-floating w-75 my-1 mx-5">
            <input
            type="text"
            class="form-control"
            placeholder=" "
            id="tradeName"
            name="tradeName"
            formControlName="contatoNome"
            maxlength="38"
            [ngClass]="{'is-invalid': 
            registerForm.get('registerPJ')?.get('contatoNome')?.invalid &&
            registerForm.get('registerPJ')?.get('contatoNome')?.touched, 
            'is-valid':
            registerForm.get('registerPJ')?.get('contatoNome')?.valid &&
            registerForm.get('registerPJ')?.get('contatoNome')?.touched
          }"
            />
            <label >Nome Fantasia:</label>
          </div>
          <div class="form-floating w-75 mx-5 my-1">
            <input
            type="text"
            class="form-control"
            placeholder=" "
            id="startDate"
            name="startDate"
            formControlName="data_criacao"
            mask="00/00/0000"
            (click)="dateValid(registerForm.get('registerPJ')?.get('data_criacao')?.value)"
            [dropSpecialCharacters]="false"
            [ngClass]="{'is-invalid': 
            registerForm.get('registerPJ')?.get('data_criacao')?.touched &&
            !dateValid(registerForm.get('registerPJ')?.get('data_criacao')?.value)
            ,
            'is-valid':
            registerForm.get('registerPJ')?.get('data_criacao')?.valid &&
            registerForm.get('registerPJ')?.get('data_criacao')?.touched &&
            dateValid(registerForm.get('registerPJ')?.get('data_criacao')?.value)
          }"
            />
            <label for="date">Data de Ínicio das Atividades:</label>
          </div>
          <div class="form-floating w-75 my-1 mx-5">
            <input
            type="text"
            class="form-control"
            placeholder=" "
            id="emailPJ"
            name="email"
            autocomplete="off"
            formControlName="email"
            maxlength="30"
            [ngClass]="{'is-invalid': 
            registerForm.get('registerPJ')?.get('email')?.invalid &&
            registerForm.get('registerPJ')?.get('email')?.touched, 
            'is-valid':
            registerForm.get('registerPJ')?.get('email')?.valid &&
            registerForm.get('registerPJ')?.get('email')?.touched
          }"
            />
            <label >E-mail:</label>
          </div>
          <div class="form-floating w-75 my-1 mx-5">
            <input
            type="text"
            class="form-control"
            placeholder=" "
            type="text"
            id="phoneNumberPJ"
            name="phoneNumber"
            formControlName="telefone"
            mask="(00) 0 0000-0000 || (00) 0000-0000"
            [ngClass]="{'is-invalid': 
            registerForm.get('registerPJ')?.get('telefone')?.invalid &&
            registerForm.get('registerPJ')?.get('telefone')?.touched, 
            'is-valid':
            registerForm.get('registerPJ')?.get('telefone')?.valid &&
            registerForm.get('registerPJ')?.get('telefone')?.touched
          }"
            />
            <label> Telefone para Contato:</label>
          </div>          
      </div>

      <!-- SUBMIT -->
      <div *ngIf="(cpf || cnpj) && passwordValid">
            <input type="checkbox" class="checkbox" formControlName="accept"/>Li e aceito os
            <a (click)="viewTerms()"><u>termos de uso.</u></a><br />
            <button class="btn btn-primary my-3" type="submit" (click)="createUser()"
              >
            Cadastrar
            </button>
      </div>
          
    </form>
  </div>
</section>