h2{
  font-size: var(--font-size);
}

form{
  width: 400px;
  min-height: 49vh;
}

form input{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--input-color) !important;
  color: var(---text-color);
}

form input[id="password"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

form input[id="passwordConfirm"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

form .form-floating:focus-within {
  z-index: 2;
}

.cpforcnpj input{
  border-radius: 20px !important;
  padding-left: 1.75rem;
}

.cpforcnpj {
  position: relative;
}

.value{
  padding-left: 16px;
}

.btn-value{
  background: transparent;
  width: 60px;
  height: 55px;
  border: none;
  font-size: 52px;
  position: absolute;
  color: #0275d8 !important;
  right: -.4rem;
  bottom: -.5rem;
  user-select: none;
}

.create-password{
  width: 300px;
  position: relative;
}

.show-pass{
  position: absolute;
  z-index: 1;
  right: 2rem;
  top: 1.3rem;
  font-size: 1.2rem;
}

.checkbox{
  margin-right: .5rem;
}

.btn-value:hover{
  right: -.3rem;
  bottom: -.33rem;
  font-size: 55px;
  color: rgb(9, 97, 173) !important;
}

.btn-value:focus{
  border-style: 0 none !important;
  border-color: transparent;
  box-shadow: 0 0 !important;
  outline: 0 !important;
}

@media(max-width:450px){
  .container{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width:400px){
  html,body{
    overflow-x: hidden;
  }
  
  .container{
    max-width: 340px;
    width: 100%;
  }

  section{
    padding-left: 0!important;
    padding-right: 0!important;
  }

  form{
    width: 340px;
  }

  .registerPF .form-floating,
  .registerPJ .form-floating{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90% !important;
  }
  
  .cpforcnpj{
    width: 70%;
  }
}