<section class="border border-secondary rounded py-1 px-1 mt-4">
  <div id="user"
    class="container d-flex justify-content-center border border-secondary py-5 px-5 row mx-0"
  >
    <header class="my-4">
      <p>Olá, {{ firstName | titlecase }} {{part | lowercase}} {{ lastName | titlecase }}</p>
    </header>

    <!-- DASHBOARD -->
    <div class="opts justify-content-center align-items-center mb-5">

      <!-- DASHBOARD PF -->
      <button *ngIf="cpf" class="opt mx-2" routerLink="/promocoes">
        <div
          class="icon d-inline-flex justify-content-center align-items-center"
        >
          <i class="fa-solid fa-square"></i><i class="fa-solid fa-percent"></i>
        </div>
        <p>Promoções</p>
      </button>
      <button *ngIf="cpf" class="opt mx-2" routerLink="/cartoes">
        <i class="fa-solid fa-credit-card"></i>
        <p>Meus Cartões</p>
      </button>
      <button *ngIf="cpf" class="opt mx-2" routerLink="/info">
        <i class="fa-solid fa-user"></i>
        <p>Atualizar Dados</p>
      </button>

      <!-- DASHBOARD PJ -->
      <button *ngIf="cnpj" class="opt mx-2" routerLink="/criar-promocao">
        <div
          class="icon d-inline-flex justify-content-center align-items-center"
        >
          <i class="fa-solid fa-square"></i><i class="fa-solid fa-percent"></i>
          <i class="fa-solid fa-circle-plus text-success"></i>
        </div>
        <div><p>Criar Promoção</p></div>
      </button>
      <button *ngIf="cnpj" class="opt mx-2" routerLink="/gerar-cartao">
        <div
          class="icon d-inline-flex justify-content-center align-items-center"
        >
          <i class="fa-solid fa-credit-card"></i
          ><i class="fa-solid fa-circle-plus text-success"></i>
        </div>
        <div><p>Gerar Cartão</p></div>
      </button>
      <button *ngIf="cnpj" class="opt mx-2" routerLink="/carimbar">
        <i class="fa-solid fa-stamp"></i>
        <p>Carimbar Cartão</p>
      </button>

      <!-- ALL -->
      <button class="opt mx-2" routerLink="" (click)="logout()">
        <i class="fa-solid fa-arrow-right-to-bracket"></i>
        <p>Sair</p>
      </button>

    </div>
    
  </div>
</section>
