<section class="border border-secondary rounded py-1 px-1 mt-4">
    <div class="container d-flex justify-content-center border border-secondary py-5 px-5 row mx-auto">
        <header class="my-4">
        <p>Olá, {{name}}</p>
    </header>
    <div class="justify-content-center align-items-center">        
            <button class="opt mx-2" routerLink="/promocoes">Promoções</button>
            <button class="opt mx-2" routerLink="/cartoes"> Meus Cartões </button>
            <button class="opt mx-2" routerLink="/info"> Informaçoes </button>
            <button class="opt mx-2" routerLink=""> Sair </button>
    </div>
    </div>
</section>