<section class="py-1 px-1 mt-4">
  <div class="container d-flex justify-content-center row mx-auto">
    <header class="my-4">
      <app-back></app-back>
    <h1 class="h3 mb-3 fw-normal text-center">Meus Dados</h1>
</header>
    <form>
      <div class="form-group justify-content-between d-flex align-items-center">
        <label for="name">Nome Completo:</label>
        <input type="text" class="form-control" id="name"
        name="name"
        [(ngModel)]="nome"
        readonly
        >
      </div>
      <div class="form-group justify-content-between d-flex align-items-center">
        <label for="email">E-mail:</label>
        <input type="text" class="form-control my-1" id="email"
        name="email"
        [(ngModel)]="email"
        
        >
      </div>
      <div class="form-group cpforcnpj justify-content-between d-flex align-items-center">
        <label for="nome">Celular:</label>
        <input type="text" class="form-control" id="phoneNumber"
        name="phoneNumber"
        [(ngModel)]="telefone"
        mask="(00) 0 0000-0000 || (00) 0000-0000"
        
        >
      </div>
      <div class="dbtn d-flex justify-content-center">
        <button class="btn btn-primary mt-4" (click)="updateData()">Atualizar Dados</button>
      </div>
    </form>
  </div>
</section>

<!-- <table class="table table-striped bg-light">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Senha</th>
      <th>Data de Nascimento</th>
      <th>E-mail</th>
      <th>Telefone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ user.cpf }}</td>
      <td>{{ user.nome }}</td>
      <td>{{ user.senha }}</td>
      <td>{{ user.data_nascimento }}</td>
      <td>{{ user.email }}</td>
      <td> {{ user.telefone }}</td>
    </tr>
  </tbody>
</table> -->