/* You can add global styles to this file, and also import other style files */
:root{
  --font-size: .75rem;
}

body{
  background-color: #f5f5f5 !important;
  color: #212529 !important;
  min-height: 100vh;
  font-size: var(--font-size) !important;
}

a {
  color: #212529 !important;
  text-decoration: none !important;
}
