<section class="py-1 px-1 mt-4" *ngIf="promoList">
    <div class="container d-flex justify-content-center row mx-auto">
        <header class="my-4">
        <h1 class="h3 mb-3 fw-normal text-center">Histórico de Promoções</h1>
    </header>
    <h2 class="h5 mb-3 fw-normal text-center">Em andamento</h2>
        <div class="list-group mb-2 bg-primary">
            <a  href="#" class="list-group-item list-group-item-action px-4 py-3" aria-current="true">
                <div class="d-flex w-100 align-items-center px-3 py-3">
                    <div class="d-flex row">
                <h3 class="h5 mb-3">Promoção criada por: </h3>
                <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, sapiente reprehenderit! Voluptatibus quisquam tempora sed dicta incidunt nostrum facilis aliquid! Sed repellendus voluptate qui distinctio magnam commodi consectetur temporibus consequatur.</p>
                </div>
                <p>Vigente até<br><strong>00/00/0000</strong></p>
            </div>
            </a>

            <!-- <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
              <small class="text-muted">And some muted small print.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
              <small class="text-muted">And some muted small print.</small>
            </a> -->
        </div>  
        <h2 class="h5 mb-3 fw-normal text-center">Encerrados</h2>
        <div class="list-group mb-2 bg-danger">
            <a  href="#" class="list-group-item list-group-item-action form-group px-4 py-3" aria-current="true">
                <div class="d-flex w-100 align-items-center px-3 py-3">
                    <div class="d-flex row">
                <h3 class="h5 mb-3">Promoção criada por: </h3>
                <p class="mb-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas id dolores consequatur quisquam ratione tempore fugit reiciendis molestiae, officiis amet, eius esse accusamus. Eveniet, officiis! Possimus voluptatibus hic neque expedita?</p>
                </div>
                <p>Vigente até<br><strong>00/00/0000</strong></p>
            </div>
            </a>
        </div>
</div>
</section>